{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row">
        <a href="{{ path('product-show_all_products') }}" class="btn light-blue darken-1">
            <i class="material-icons left" style="display: inline-block;">keyboard_backspace</i>
            <span style="height: 100%; display: inline-block;">Back</span>                  
        </a>    
        <button class="btn">
            <i class="material-icons left">create</i>
            <span>{{ label|default('Save') }}</span>
        </button>
    </div>
{{ form_end(form) }}
